.answer {
    color: #000066;
    font-size:  20px;
    font-family: Verdana, Arial, Helvetica;
    font-weight: 600;
}
.answer-hover {
    background-color: #FF6600;
    cursor: pointer;
}
.container {
    text-align: center;
    padding-left: 0px;
    background-color: #0099CC;
    width: 1170px !important;
}
.btn {
    background-color:#CCCCFF;
    border: 5px solid #000066;
    color: #000066;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
}
.btn:hover {
    color:#FF6600;
}
.form-styles {
    margin: 5%;
}
.header {
    background-image: url('../images/header.jpg');
    width: 1170px;
    height: 200px;
}
#header-h1 {
    color: #fff;
    text-align: left;
    font-size:  50px;
    font-family: Verdana, Arial, Helvetica;
    font-style: italic;
    padding-left: 30px;

}
input {
    background-color:#CCCCFF;
    border: 5px solid #000066;
    color: #000066;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
}
input:focus {
    border: 5px solid #FF6600;
}
.input-group {
    padding: 10px;
}
.name-answer {
    color:#fff;
    font-size: 30px;
    font-family: Verdana, Arial, Helvetica;
    font-style: italic;
    text-decoration: underline;

}
.right-block {
    float: right;
    width: 765px;
}
.quote {
    color: #fff;
    font-size: 18px;
    padding: 0px;
    text-align: left;
    width: 400px;
    margin-left: 35px;
    text-align: center;
}
.quote-small {
    color :#fff;
}
.speech {
    background-image: url('../images/speech.png');
    width: 500px;
    height: 150px;
    float: left;
    color:#fff;
    font-size: 30px;
    font-family: Verdana, Arial, Helvetica;
    padding-top: 10px;
}

.table-nonfluid {
    width: auto;
    border: 5px solid #000066;
    background-color:#CCCCFF;
    color: #000066;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
}
.table-border td {
    border: 2px solid #000066;
}
.teacher {
    background-image: url('../images/teacher1.png');
    width: 405px;
    height: 500px;
    float: left;
}
.text {
    padding: 20px;
}