body {
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: HelveticaNeueCyr;
    font-size: 18px;
}
.about {
    line-height: 1.5;
    font-size: 100%;
}
.answer {
    color: #006600;
    font-size: 100%;
}
.answer-hover {
    background-color: #FF9900;
    cursor: pointer;
}
.btn {
    background-color:#CCFFCC;
    border: 5px solid #3e7b02;
    color: #006600;
    padding: 10px;
    font-size: 145%;
    font-weight: 600;
}
.btn-home {
    display: inline;
}
.btn:hover {
    color: #00CC33;
}
.container {
    width: auto;
}
.error-msg {
    clear: both;
    color: #006600;
    text-decoration: underline;
    text-align: center;
    list-style: none;
}
.footer {
    color: #fff;
    font-size: 100%;
    text-align: center;
    padding-top: 50px;
}
.form-styles {
    clear: both;
    text-align: center;
}
.header {
    width: 55%;
    padding-left: 18%;
    color: #fff;
    font-style: italic;
    font-weight: 600;
}
.header-h1 {
    font-size: 267%;
    font-weight: 600;
}
input {
    background-color: #CCFFCC;
    border: 5px solid #3e7b02;
    padding: 10px;
    font-size: 139%;
    font-weight: 600;
}
input:focus {
    border: 5px solid #FF9900;
}
.input-group {
    padding: 15px;
}
.main-block {
    width: 65%;
    background-color: #fff;
    border: 8px solid #3e7b02;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin: 0 auto;
    overflow: auto;
}
.name-answer {
    font-size: 167%;
    font-family:Arial;
    text-transform: uppercase;
    text-align: center;
}
.name-answer-translate {
    clear: both;
}
.newton {
    float: left;
    background-image: url('../images/newton.png');
    background-repeat:  no-repeat;
    width: 300px;
    height: 300px;
}
.quote {
    font-size: 100%;
    border: none;
    padding: 15px 0 15px 0;
}
.quote-small {
    color: #fff;
    font-size: 134%;
    padding-left: 45%;
}
.phrase-block {
    width: 90%;
    color:#006600;
    font-weight: 600;
    margin: auto;

}
.phrase-block li {
    width: 25px;
    float: left;
    text-align: center;
    list-style: none;
    border: 2px solid #3e7b02;
    margin-bottom: 10px;

}
.teacher {
    background-image: url('../images/teacher.png');
    width: 150px;
    height: 150px;
    float: left;
    margin: 0 10px 20px 50px;
}
.right-block {
    float: right;
    width: 60%;
}
.right-block-h1 {
    font-family: Arial;
    font-size: 278%;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width:480px) and (max-width:800px) {
    body {
        font-size: 15px;
    }
    .btn {
        font-size: 100%;
        padding: 5px;
    }
    .header {
        width: 80%;
    }
    .header-h1 {
        font-size: 170%;
    }
    input {
        font-size: 100%;
        padding: 5px;
    }
    .newton {
        float: none;
        margin: 0 auto;

    }
    .quote-small {
        font-size: 120%;
    }
    .right-block {
        float: none;
        width: 95%;
        text-align: center;
    }
    .right-block-h1 {
        font-size: 190%;
    }
    .teacher {
        margin: 0 10px 0 10px;
    }

}

@media screen and (max-width:479px) {
    a
    body {
        font-size: 12px;
    }
    .btn {
        font-size: 80%;
        padding: 5px;
    }

    .header {
        width: 80%;
    }
    .header-h1 {
        font-size: 150%;
    }
    input {
        font-size: 60%;
        padding: 5px;
    }

    .newton {
        float: none;
        margin: 0 auto;
        background-image: url('../images/newton2.gif');
        background-repeat:  no-repeat;
        width: 150px;
        height: 150px;

    }
    .quote-small {
        font-size: 120%;
    }
    .right-block {
        float: none;
        width: 90%;
        text-align: center;
    }
    .right-block-h1 {
        font-size: 180%;
    }
    .teacher {
        display: none;
    }
}